* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #39899b;
    font-family: Arial, Roboto, sans-serif;
    max-width: 100vw;
}

nav{
    background-color: #39899b;
    height: 29px;
    padding-bottom:  20px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar {
    display: flex;
    justify-content: space-around;
    margin: auto 30%;
}

.navbar li {
    text-align: center;
    width: 100%;
    list-style: none;
    position: relative;
    overflow: hidden;
}

.navbar li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

.navbar li::before {
    content: '';
    position: absolute;
    top: -110%;
    left: -80%;
    width: 250%;
    height: 340%;
    background: linear-gradient(0deg, transparent, transparent 30%, rgba(0,255,255,0.3));
    transform: rotate(-25deg);
    transition: all 0.5s ease;
}
.navbar li:hover {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}
.navbar li:hover::before {
    transform: rotate(-25deg) translateY(100%);
}

.banner {
    background: #05054FC4;
    background: linear-gradient(90deg, rgba(5, 5, 79, 1) 0%, rgba(5, 5, 79, 1) 0%, rgba(5, 5, 79, 1) 0%, rgba(5, 5, 79, 1) 0%, rgba(57, 137, 155, 1) 100%);
    display: flex;
    align-items: center;
    border-bottom: 2px solid #e0edf1;
    height: 80px;
    width: 100%;
}

.banner .foto {
    display: flex;
    justify-content: center;
    flex: 1 1 250px;
    z-index: 2;
    min-width: 230px;
}

img {
    margin-top: 150px;
    border-radius: 50%;
}

img:hover {
    box-shadow: 5px 5px 5px gray;
}

.banner .naam {
    display: flex;
    justify-content: start;
    color: #e0edf1;
    flex: 7 1 250px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 3rem;
}

.banner .naam:hover {
    text-shadow: 3px 3px 3px gray;
}

main {
    display: flex;
    width: 100%;
    position: relative;
}

.personal-info {
    color: #e0edf1;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 250px;
    margin-top: 150px;
    min-width: 230px;
    position: relative;
}

.sticky {
    position: sticky;
    top: 20px;
}

.personal-info ul li {
    list-style: none;
    padding-top: 20px;
}

ul {
    min-width: 220px;
}

li {
    padding: 5px 0;
}

.personal-info ul, .personal-info h3 {
    width: 170px
}

h2:hover {
    color: darkblue;
}

section {
    border-bottom: 2px solid darkblue;
    padding-bottom: 20px;

}

article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    overflow: hidden;
}

article img {
    position: relative;
    width: 200px;
    margin-top: 40px;
    display: none;
}

@keyframes moveimage {
    from {
        left: 200px;
    }
    to {
        left: 0;
    }
}

.div1:hover + .foto1 {
    display: block;
    animation: moveimage 1s ease-in-out;
}

.div2:hover + .foto2 {
    display: block;
    animation: moveimage 1s ease-in-out;
}

.div3:hover + .foto3 {
    display: block;
    animation: moveimage 1s ease-in-out;
}

.div4:hover + .foto4 {
    display: block;
    animation: moveimage 1s ease-in-out;
}

table {
    border-collapse: collapse;
}

td {
    padding: 10px 15px;
}

tr:nth-child(odd) {
    background-color: #05054fc4;
    color: #e0edf1;
}

tr:nth-child(even) {
    background-color: #404040;
    color: #e0edf1;
}

h2 {
    margin: 25px 0;
    font-size: 30px;
    color: darkblue;
    scroll-margin-top: 80px;
}

h3 {
    margin: 25px 0;
    color: darkblue;
}

h4 {
    padding: 25px 0;
    font-size: 25px;
}

h5 {
    display: inline-block;
    margin: 0 0 20px 0;
    font-size: 18px;
}

.content {
    margin-top: 8px;
    flex: 7 1 250px;
    background-color: #e0edf1;
    flex-wrap: wrap;
    padding: 20px 80px;
}

p {
    max-width: 600px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    word-wrap: normal;
}

.werkervaring {
    display: flex;
    flex-direction: column;
}

span {
    font-weight: normal;
}

.contentLists ul {
    margin-left: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    height: 30px;
    background-color: #05054fc4;
    color: #e0edf1;
}

.button {
    color: #e0edf1;
}

.button:hover {
    background-color: #05054fc4;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

@media screen and (max-width: 1210px) {
    .navbar {
        margin: auto;
    }


    .div1:hover + .foto1 {
        display: none;
    }

    .div2:hover + .foto2 {
        display: none;
    }

    .div3:hover + .foto3 {
        display: none;
    }

    .div4:hover + .foto4 {
        display: none;
    }

}

@media screen and (max-width: 992px) {
    .navbar {
        margin-left: 0;
    }

    .banner {
        display: block;
        height: auto;
        width: 100%;
    }

    img {
        margin-top: 20px;
    }

    .banner .naam {
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .content {
        padding: 20px 30px;
    }

    p {
        width: auto;
    }
}

@media screen and (max-width: 576px) {

    *{
        word-wrap: break-word;
    }
    .banner .foto {
        min-width: 0;
    }

    img {
        margin-top: 20px;
    }

    nav{
        position: relative;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .navbar li {
        width: 100px;
    }

    h1 {
        text-align: center;
    }

    main {
        flex-direction: column;
    }

    .personal-info {
        min-width: 0;
        margin-top: 20px;
        padding: 0;
        margin-left: 0;
    }

    ul {
        min-width: 0;
    }

    .personal-info ul li {
        margin-left: 5px;
        word-wrap: normal;
    }

    .content {
        padding: 10px
    }

    footer {
        flex-direction: column;
        justify-content: space-around;
        padding: 5px;
        height: 100px;
    }
}