* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #bdefff;
    font-family: Arial, Roboto, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin-left: 22%;
}

.navbar li {
    text-align: center;
    width: 100%;
    border-bottom: 5px solid #bdefff;
}

.navbar li a {
    text-decoration: none;
}

.navbar li:hover {
    border-bottom: 5px solid #05054fc4;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

.banner {
    background-color: #05054fc4;
    display: flex;
    align-items: center;
    border-bottom: 2px solid white;
    box-shadow: 0 5px #05054fc4;
    margin-bottom: 5px;
    height: 80px;
    width: 100vw;
}

.banner .foto {
    display: flex;
    justify-content: center;
    flex: 1 1 250px;
    z-index: 2;
    min-width: 330px;
}

img {
    margin-top: 150px;
    border-radius: 50%;
}

img:hover {
    box-shadow: 5px 5px 5px gray;
}

.banner .naam {
    display: flex;
    justify-content: start;
    color: white;
    flex: 7 1 250px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 3rem;
}

.banner .naam:hover {
    text-shadow: 3px 3px 3px gray;
}

main {
    display: flex;
    width: 100%;
}

.personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 250px;
    margin-top: 150px;
    min-width: 330px;
}

ul {
    min-width: 220px;
}

li {
    padding: 5px 0;
    list-style: none;
}

.personal-info ul, .personal-info h3, table {
    width: 170px
}

table {
    border-collapse: collapse;
}

td {
    padding: 5px;
}

tr:nth-child(odd) {
    background-color: #0e8db5;
    color: white;
}

tr:nth-child(even) {
    background-color: #bdefff;
}

h2 {
    margin: 25px 0;
    font-size: 30px;
    color: #05054fc4;
}

h3 {
    margin: 25px 0;
    color: #05054fc4;
}

h4 {
    padding: 25px 0;
    font-size: 25px;
}

h5 {
    margin: 0 0 20px 0;
    font-size: 18px;
}

.content {
    margin-top: 8px;
    flex: 7 1 250px;
    background-color: white;
    flex-wrap: wrap;
    padding: 20px 80px;
}

p {
    max-width: 600px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    word-wrap: normal;
}

.werkervaring {
    display: flex;
    flex-direction: column;
}

span {
    font-weight: normal;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    height: 30px;
    background-color: #05054fc4;
    color: white;
}

.button {
    color: white;
}

.button:hover {
    background-color: #05054fc4;
}

@media screen and (max-width: 992px) {
    .navbar {
        margin-left: 0;
    }

    .banner {
        display: block;
        height: auto;
        width: 100%;
    }

    img {
        margin-top: 20px;
    }

    .banner .naam {
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    p {
        width: auto;
    }
}

@media screen and (max-width: 576px) {

    .banner .foto {
        min-width: 0;
    }

    img {
        margin-top: 20px;
    }


    h1 {
        text-align: center;
    }

    main {
        flex-direction: column;
    }

    .personal-info {
        min-width: 0;
        margin-top: 20px;
        padding: 0;
        margin-left: 0;
    }

    .personal-info ul li {
        margin-left: 5px;
        word-wrap: normal;
    }

    .content {
        padding: 10px
    }

    footer {
        height: 60px;
        padding: 5px
    }
}