* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #bdefff;
    font-family: "Times New Roman", sans-serif;
}
.banner {
    background-color: #05054fc4;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid white;
    box-shadow: 0 5px  #05054fc4;
    margin-bottom: 5px;
}
.banner div{
    display: flex;
    justify-content: center;
    flex: 1 1 250px;
    z-index: 2;
}
img{
    margin-top: 150px;
    border-radius: 50%;
}
img:hover{
    box-shadow: 5px 5px 5px gray;
}
.banner h1 {
    display: flex;
    justify-content: start;
    color: white;
    flex: 7 1 250px;
    padding-left: 80px;
    font-size: 3rem;
}
.banner h1:hover{
    text-shadow: 3px 3px 3px gray;

}
main {
    display: flex;
    min-height: calc(100vh - 115px);
    width: 100%;
}

.personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 250px;
    margin-top: 130px;
}
.personal-info ul, .personal-info h3, table {
    width: 170px
}
table{
    border-collapse: collapse;
}
tr:nth-child(odd){
    background-color: white;
}
tr:nth-child(even){
    background-color: lightgray;
}
h2{
    margin: 15px 0;
    font-size: 30px
}

h3{
    margin: 20px 0;
}
h4 {
    margin: 10px 0;
    font-size: 25px;
}
h5{
    margin: 10px 0;
    font-size: 18px;
}
h5:hover{
    font-size: 30px;
    text-decoration: underline;
}

.content {
    margin-top: 8px;
    flex: 7 1 250px;
    background-color: white;
    flex-wrap: wrap;
    padding: 0 80px ;
}
.werkervaring{
    display: flex;
    flex-direction: column;
}
.werkervaring ul:hover{
    font-size: 20px;
}
span{
    font-weight: normal;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 30px;
}